@model PedidoVirtualWeb.Models.ChangePasswordViewModel
@{
    /**/

    ViewBag.Title = "Alterar senha";
}

<h1 style="color:#FFFFFF">@ViewBag.Title</h1>
<hr />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div style="margin-top:20px; background-color:#E1E1E1; padding:10px; border-radius:5px;  border:2px solid #FFFFFF">

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" value="Alterar senha" class="btn btn-primary" />



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
